@model ProyectoMancariBlue.Models.Empleado;

@{
    ViewData["Title"] = "CrearEmpleado";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Crear Empleados</h1>
        <p>Empleados</p>

    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Empleados</li>
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <h3 class="tile-title">Crear Empleado</h3>
        <div class="tile-body">
            <form asp-action="CrearEmpleado" asp-controller="Empleado" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CedEmpleado" class="control-label">Cédula</label>
                            <input asp-for="CedEmpleado" class="form-control" />
                            <span asp-validation-for="CedEmpleado" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label">Nombre</label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Apellido" class="control-label">Apellido</label>
                            <input asp-for="Apellido" class="form-control" />
                            <span asp-validation-for="Apellido" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nacionalidad" class="control-label">Nacionalidad</label>
                            <input asp-for="Nacionalidad" class="form-control" />
                            <span asp-validation-for="Nacionalidad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Correo</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Contraseña</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaNacimiento" class="control-label">Fecha de nacimiento</label>
                            <input asp-for="FechaNacimiento"  type="date" class="form-control" />
                            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Provincia" class="control-label">Provincia</label>
                            <input asp-for="Provincia" class="form-control" />
                            <span asp-validation-for="Provincia" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Canton" class="control-label">Cantón</label>
                            <input asp-for="Canton" class="form-control" />
                            <span asp-validation-for="Canton" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Distrito" class="control-label">Distrito</label>
                            <input asp-for="Distrito" class="form-control" />
                            <span asp-validation-for="Distrito" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DepartamentoId" class="control-label">Departamento</label>
                            <select asp-for="DepartamentoId" class="form-control" asp-items="ViewBag.DepartamentoId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaIngreso" class="control-label">Fecha de ingreso</label>
                            <input asp-for="FechaIngreso" type="date" class="form-control" />
                            <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Salario" class="control-label">Salario</label>
                            <input asp-for="Salario" class="form-control" />
                            <span asp-validation-for="Salario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Crear</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="javascript:history.back();"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        // Función para mostrar u ocultar la previsualización de la imagen
        function actualizarPrevisualizacion() {
            var fileInput = document.getElementById('Imagen');
            var previsualizacionContainer = document.getElementById('previsualizacionContainer');
            var imgPrevisualizacion = document.getElementById('imagenPrevisualizacion');

            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPrevisualizacion.setAttribute('src', e.target.result);
                }
                reader.readAsDataURL(fileInput.files[0]);
                previsualizacionContainer.style.display = 'block';
            } else {
                imgPrevisualizacion.setAttribute('src', '#');
                previsualizacionContainer.style.display = 'none';
            }
        }

        // Asignar los eventos change y load al input de tipo file
        var imagenInput = document.getElementById('Imagen');
        imagenInput.addEventListener('change', actualizarPrevisualizacion);
        imagenInput.addEventListener('load', actualizarPrevisualizacion);
    </script>
}