@{
    ViewData["Title"] = "Empleados";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list" style="margin-right: 10px;"></i>Administración de Empleados</h1>
        <p>Empleados</p>
        <br>
        <a asp-action="CrearEmpleado" asp-controller="Empleado" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Crear Empleado</a>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Empleados</li>
    </ul>
</div>
<div class="row" style="flex-direction: column;">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" id="templeados">
                        <thead>
                            <tr>
                                <th>Cédula</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Email</th>
                                <th>Departamento</th>
                                <th>Fecha de ingreso</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/plugins/jquery.datatables.min.js"></script>
    <script src="~/js/plugins/datatables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#templeados').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Action("DataTable", "Empleado")",
                    "type": "GET",
                    "dataSrc": "data"
                },
                "columns": [
                    { "data": "cedEmpleado" },
                    { "data": "nombre" },
                    { "data": "apellido" },
                    { "data": "email" },
                    { "data": "departamento" },
                    { "data": "fechaIngreso" },
                    { "data": "estado" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return `<button class="btn btn-sm btn-primary cambiar-estado-btn" data-cedEmpleado="${row.cedCliente}">Cambiar Estado</button>`;
                        }
                    }
                ]
            });

            $('#templeados').on('click', '.cambiar-estado-btn', function (e) {
                e.preventDefault();

                var cedEmpleado = $(this).data('cedEmpleado');

                // Mostrar confirmación con SweetAlert2
                Swal.fire({
                    title: 'Confirmación',
                    text: '¿Estás seguro de que deseas cambiar el estado?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'Sí',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Realizar la llamada AJAX si se confirma la acción
                        $.ajax({
                            url: '@Url.Action("ChangeState", "Empleado")',
                            type: 'POST',
                            data: { cedEmpleado: cedEmpleado },
                            success: function (response) {
                                // Mostrar mensaje de éxito con SweetAlert2
                                Swal.fire('Éxito', 'El estado ha sido cambiado correctamente.', 'success').then(function () {
                                    // Recargar la tabla
                                    $('#templeados').DataTable().ajax.reload();
                                });
                            },
                            error: function (xhr, status, error) {
                                // Mostrar mensaje de error con SweetAlert2
                                Swal.fire('Error', 'Ha ocurrido un error al cambiar el estado.', 'error');
                                console.error('Error:', error);
                            }
                        });
                    }
                });
            });
        });
    </script>
}
